/* common style starts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --themeRed: #e43a47;
    --gray: #e41616;
}

html {
    scroll-behavior: smooth;
}

button,
body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(231, 223, 206);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 26px;
}

.fullContainer {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}

.sectionTitle {
    width: 300ox;
    border-bottom: 3px solid var(--themeRed);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;

}

.sectionTitle::after {
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--themeRed);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    padding: 100px 0;
    position: relative;
}

/*  common style end*/
/* Home page styling starts */
header {
    width: 100%;
    background-color: rgba(31, 30, 30, 0.6);
    position: fixed;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    padding: 15px 0;
    height: 75px;
}

header .container .logo img {
    height: 100%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--themeRed);
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url(./banner.webp);
    background-size: cover;
    background-attachment: fixed;
    padding-left: 3%;
}

.banner h1 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color: var(--themeRed);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.banner p {
    color: #fff;
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
}

.button {

    background-color: var(--themeRed);
    border: 0;
    outline: none;
    color: #991212;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600;
}

/*HOME STYLE END HERE*/

/* ABOOUT SEECTION STARTS */

#aboutSection .cards {
    display: flex;
    fLex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#aboutSection .cards>div {
    width: 350px;
    background-color: var(--white);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 5px;
    height: 215px;
    border: 1px solid #ccc;
    transition: 0.4s;
}

#aboutsection .cards>div:hover {
    width: 400px;
    margin-top: 20px;
    border-color: var(--themered);
    padding: 55px;
    height: auto;
}

#aboutSection .cards>div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#aboutSection .cards>div p {
    font-size: 14px;
    margin-top: 15px;
}

#aboutSection .cards>div button {
    border: 1px solid var(--themeRed);
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#aboutSection .cards>div:hover button {
    background-color: var(--themeRed);
    color: #fff;
}

/* ABOUT SECTION ENDS HERE */
/* Program Section start */

.programs {
    background-color: #e2e2e2;
}

.programs .boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.programs .boxContainer .box {
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px #c5c5c5;
    position: relative;
    margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage:after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    Left: 0;
    top: 0;
    filter: grayscale(100%);
    transition: 0.4s;
}

.programs .boxContainer .box:nth-child(1) .cardImage,
.programs.boxContainer .box:nth-child(1) .cardImage:after {
    background-image: url("./images\ \(1\).webp");
}

.programs .boxContainer .box:nth-child(2) .cardImage,
.programs.boxContainer .box:nth-child(2) .cardImage:after {
    background-image: url("./images\ \(2\).webp");
}

.programs .boxContainer .box:nth-child(3) .cardImage,
.programs.boxContainer .box:nth-child(3) .cardImage:after {
    background-image: url("./image\(3\).webp");
}

.programs .boxContainer .box:nth-child(4) .cardImage,
.programs.boxContainer .box:nth-child(4) .cardImage:after {
    background-image: url("./image\ \(4\).webp");
}

.programs .boxContainer .box:hover .cardImage:after {
    top: 100%;
}

.programs .boxContainer .box .programTitle {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: #444;
}

.programs .boxContainer .box .donationCount {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-top: 10px;
}

.programs .boxContainer .box .donationCount span {
    color: var(--themeRed);
}

.programs.boxContainer.box button {
    position: absolute;
    Left: 50%;
    background-color: var(--themeRed);
    color: #fff;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* Program Section ends */

/* education section start */

.education {
height: 100%;
width: 100%;

position: relative;
}
.education video{
    height: 100%;
    
}

.education .BACKGROUNDCLIP {
position: absolute;
top: 0;
Left: 0;
width: 100vw;
height: 100vh;
}

.education .sectionTitle{
color:#fff;
text-shadow: 0 0 4px #000;
}

.education .educationContainer {
position: absolute;
background-color: #00000096;
width: 600px;
top: 35vh;
color: #fff;
text-shadow: 0 3px #000;
padding: 30px;
left: 15%;   
}

.education .educationContainer h3 {
font-size: 35px;
font-weight: 300;
}

.education .educationContainer p {
font-size: 15px;
Line-height: 20px;
margin: 10px 0 30px;
}

.education.educationContainer button{
background-color: var(--themefted);
border: 0;
color:#fff;
padding: 10px 25px;
font-weight: bold;
font-size: 14px;
outline: none;
}

/* education section end */

